:root {
  --primary: hsl(108, 99%, 34%);
  --text-400: hsl(137, 12%, 45%);

  --clr-border: hsl(127, 11%, 85%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
} /*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* END OF CSS RESET */

/* General */

body {
  font-family: "Gellix", sans-serif;
  color: var(--text-400);
}

button {
  background: none;
  border-style: none;
}

/* Navbar */
ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
}

.navbar-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

  background-color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 95%;
  max-width: 1360px;
  padding: 15px 0px;
  margin: auto;

  font-weight: 500;
  background: #fff;
}

.navbar-collapse {
  display: flex;
}

.navbar-nav {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.sub-menu-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
}

.sub-menu {
  display: flex;
  width: 90%;
  max-width: 1360px;
  margin: auto;
  background-color: white;
  border-top: 1px solid var(--clr-border);
}

.navbar-nav > li:hover .sub-menu-wrapper {
  display: block;
}

.navbar-nav > li {
  padding: 20px;
}

.navbar__buttons {
  display: none;
}

.test {
  font-size: 120px;
}
/* navbar mobile */
.navbar__nav-mobile {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;

  overflow: auto;
  height: 80vh;
  margin-top: 0;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 8px 50px 0 rgb(0 0 0 / 5%);
  transform: translateY(0%);
  transition: box-shadow 400ms ease, transform 400ms ease;
}

.navbar__nav-mobile.hide {
  box-shadow: none;
  transform: translateY(-100%);
}

.navbar__accordion {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid var(--clr-border);
}

.navbar__accordion:last-of-type {
  border-bottom: none;
}

.navbar__accordion-btn {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;

  cursor: pointer;
}

.navbar__accordion-items {
  max-height: 700px;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

.navbar__accordion-items > li {
  padding: 6px 5px 6px 0;
  transition: color 150ms ease;
  cursor: pointer;
}

.navbar__accordion-items > li:hover {
  color: var(--primary);
}

.navbar__accordion-arrow {
  transform: rotate(0deg);
  transition: transform 200ms ease-in-out;
}

.navbar__accordion-title {
  font-weight: 600;
  color: var(--primary);
  transition: color 200ms ease-in-out;
}

.navbar__accordion.hide .navbar__accordion-items {
  max-height: 0;
}

.navbar__accordion.hide .navbar__accordion-arrow {
  transform: rotate(180deg);
}

.navbar__accordion.hide .navbar__accordion-title {
  color: var(--text-400);
}

/* navbar buttons mobile */

.navbar__buttons-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 90%;
  margin: auto;
}

.login-btn {
  border: 2px solid #003c2f;
  background-color: transparent;
  color: #003c2f;
  padding: 12px 56px 14px;
  border-radius: 36px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s;
}

.start-btn {
  padding: 12px 56px 14px;
  border-style: none;
  border-radius: 36px;
  background-color: #22ad01;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 1100px) {
  .navbar {
    padding: 0;
  }

  .navbar__menu-btn {
    display: none;
  }

  .navbar__buttons,
  .navbar-nav {
    display: flex;
  }
}
